@import './variable.scss';

html {
  font-size: 100px;
  font-size: 26.66666667vw;
}

body {
  line-height: 1;
  background-color: #fff;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: $color-text;
  font-size: .14rem;
}

.fr {
    float: right;
}
.fl {
    float: left;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.vm-pd-15 {
  padding: 0 .15rem;
}

a:hover{text-decoration:underline;}

.text-execeeded{
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-execeeded-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
  -moz-line-clamp: 2;
  -ms-box-orient: vertical;
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.frame-1px::after,.frame-top-1px::before{
  display: block;
    position: absolute;
    left: 0;
    width: 100%;
    content: ' ';
}
.frame-1px::after{
    bottom: 0;
    border-bottom: 1px solid $color-gray;
}

.frame-top-1px::before{
    top: 0;
    bottom: 0;
    border-top: 1px solid $color-gray;
}

.icon-return:before {
  font-size: $font-size-large-x;
}

.icon-font {
  font-size: .22rem;
}

.vm-more-icon {
  font-size: .18rem;
}

.vm-scroll {
  height: 100%;
  overflow: hidden;
}

.vm-scroll-y {
  width: 100%;
  overflow: hidden;
}

.green {
  background: $color-green;
}

.orange {
  background: $color-orange;
}
.red {
  background: $color-red;
}

.blue {
  background: $color-blue;
}

/*动画跳转*/

/*
    router-view -> transition="cover"
    cover开头的 是router-view过渡切换是公用的样式
    _cover-* 是会被cover 影响的元素
*/


.cover-transition {
  opacity: 1;
  transition: .35s opacity ease;
}

.cover-enter,
.cover-leave {
    opacity: 0;
}

._cover-top .top-title {
    transition: .2s all ease;
}

._cover-top {
  transition: all .22s ease;
  opacity: 1;
}




.cover-right-enter-active,
.cover-right-leave-active,
.cover-left-enter-active,
.cover-left-leave-active {
    will-change: transform;
    transition: .35s all;
    width:100%;
    opacity: 1;
}

.cover-right-leave-active {
    transform: translateX(100%);
}

.cover-left-leave-active {
    transform: translateX(-100%);
}



._effect {
    opacity: 1;
    transition: .3s all ease;
}

._effect--30 {
    transform: translate3d(-30%, 0, 0);
}

._effect--50 {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
}

.cover-right-enter,
.cover-left-enter {
    opacity: .98;
}

.cover-right-enter ._cover-top,
.cover-left-enter ._cover-top {
    opacity: 0;
}

._cover-top .top-title {
    transition: .3s all ease;
}

.cover-right-enter ._cover-top .top-title,
.cover-left-enter ._cover-top .top-title {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
}

.cover-right-enter ._cover-content {
    transform: translate3d(50%, 0, 0);
}

.cover-left-enter ._cover-content {
    transition: .45s all ease;
    transform: translate3d(100%, 0, 0);
}





.slide-enter {
   opacity: 0;
   transform: translate3d(-30%, 0, 0);
}
.slide-enter-active{
  transition: opacity 0.3s;

 
}
.slide-leave-to {
 opacity: 0;

}
.slide-leave-active {
  transition: opacity 0.3s;
  transform: translate3d(-30%, 0, 0);
}
/*动画跳转*/





.main {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: .45rem;
  background-color: #fff;
  overflow: hidden;
  transition: .3.5s all ease-in-out;
  opacity: 1;
}

.main-44 {
  position: absolute;
  z-index: 9;
  top: .45rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
  transition: .3s all ease-in-out;
  opacity: 1;
}

.main-fill {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
  transition: .3s all ease-in-out;
  opacity: 1;
}

.main-fixed {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
  transition: .3s all ease-in-out;
  opacity: 1;
}



/*login.vue*/


/**/
.my-problem,.my-news{
  position: relative;
  height: 100%;
  overflow: hidden;
  .item-list {
    position: relative;
    background: #fff;
    padding: .15rem;
    border-bottom: .1rem solid $color-e;
    .item-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .15rem;
      .item-state {
        span {
          display: flex;
          width: .6rem;
          padding: .06rem 0;
          justify-content: center;
          align-items: center;
          border: 1px solid $color-light-green;
          font-size: $font-size-small-s;
          border-radius: .05rem;
          color: $color-light-green;
        }
        .color-9 {
          border: 1px solid $color-9;
          color: $color-9;
        }
        .blue {
          border: 1px solid $color-dark-blue;
          color: $color-dark-blue;
        }
        .red {
          border: 1px solid $color-light-red;
          color: $color-light-red;
        }
      }
      .item-time {
        display: flex;
        align-items: center;
        img {
          width: .3rem;
          height: .3rem;
          border-radius: 50%;

        }
        span {
          color: $color-9;
          font-size: $font-size-small;
        }
        .item-username {
          padding: 0 .1rem;
        }
      }
    }
    .item-title {
      display: flex;
      padding-bottom: .15rem;
      h3 {
        font-size: $font-size-medium-x;
        font-weight: 600;
        color: #000;
      }
    }
    .item-content {
      padding-bottom: .15rem;
      overflow: hidden;
      p {
        line-height: .2rem;
        color: $color-6;
      }
    }
    .item-img {
       position: relative;
       width: 100%;
       height: 2rem;
       margin-bottom: .15rem;
       overflow: hidden;
       img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0);
          -o-transform: translate3d(-50%, -50%, 0);
          -moz-transform: translate3d(-50%, -50%, 0);
          -ms-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
       }
    }
    .item-operation {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-small;
      .item-more {
        flex: 1;
        text-align: right;
      }
      .more {
        display: flex;
        flex: 1;
        justify-content: flex-end;
      }
      .more,.item-more {
        color: $color-9;
        span {
          padding: 0 .05rem;
        }
        .delete {
          color: $color-light-red;
        }
        .color-blue {
          color: $color-dark-blue;
        }
      }
      .item-details {
        span {
          color: $color-9;
        }
        span:nth-child(2) {
          padding: 0 .1rem;
        }
      }
    }
  }
  .item-list:last-child {
    margin-bottom: 0;
  }
  .frame-top-1px:first-child::before {
     border-top: 0px solid $color-c;
  }
}
/**/

/*modify userinfo*/
.modify-userinfo {
  background: #f5f5f5;
  .remarks {
    padding: .1rem .15rem 0;
    color: $color-9;
  }
  .vm-put {
    display: flex;
    background: #fff;
    margin-top: .1rem;
    padding: .05rem .3rem .05rem .15rem;
    align-items: center;
    border-top: 1px solid $color-e;
    border-bottom: 1px solid $color-e;
    span {
      flex: 0 0 .3rem;
      padding-right: .15rem;
    }
    input {
      flex: 1;
      height: .3rem;
      line-height: .3rem;
      color: #000;
    }
    .clear {
       position: absolute;
       right: .1rem;
       display: inline-block;
       width: .15rem;
       height: .15rem;
       border-radius: 50%;
       background: $color-c;
    }
    .clear::after {
      content: 'x';
      font-size: .12rem;
      position: absolute;
      left: .038rem;
      top: .01rem;
      color: #fff;
    }
  }
}
/*modify userinfo*/


/*component-list*/
.component-list {
  padding-bottom: .3rem;
  .item {
      position: relative;
      display:-webkit-box;
      display:-webkit-flex;
      display:-moz-box;
      display:-ms-flexbox;
      display:flex;
      padding: .15rem;
      .item-left {
        width: .72rem;
        position: relative;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 .72rem;
           -moz-box-flex: 0;
            -ms-flex: 0 0 .72rem;
                flex: 0 0 .72rem;
        margin-right: .15rem;
        overflow: hidden;
        img {
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
        }
      }
      .item-right {
        color: $color-6;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        overflow: hidden;
        .item-name {
          padding-bottom: .15rem;
          color: #000;
          font-size: $font-size-medium-x;
        }
        .item-author {
          padding-bottom: .1rem;
          .size {
            padding-right: .15rem;
          }
        }
        .item-time {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
             -moz-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }
      }
  }
}
.more {
  position: relative;
  display: flex;
  flex: 0 0 .2rem;
  align-items: flex-end;
  .more-icon {
  }
  .operating {
    position: absolute;
    right: 0;
    top: .7rem;
    z-index: 9;
    ul {
      border: 1px solid $color-c;
      -moz-border-radius: .05rem;
           border-radius: .05rem;
      background: #fff;
      li {
        height: .4rem;
        width: 1rem;
        text-align: center;
        line-height: .4rem;
        color: $color-6;
      }
      .active {
        background: $color-c;
      }
    }
  }
  .none-img {
    top: .2rem;
  }
}
/*component-list*/

/*component-list-three*/

/*component-list-three*/


@media (min-width: 320px ) and (max-width: 360px){

  #app {
    .myProject {
      .myProject-main {
        .myProject-item {
            width: 17.5%;
            margin-right: 10.95%;
        }
        .myProject-item-bot {
            margin-right: 0;
        }
      }
    }
  }
}



@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
.frame-1px::after,.frame-top-1px::before{
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);

 }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
.frame-1px::after,.frame-top-1px::before{
  -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
 }
}
