// 颜色定义规范


$color-background-d : rgba(0, 0, 0, 0.3);
$color-highlight-background : #333;
$color-dialog-background : #666;
$color-theme : #ffcd32;
$color-theme-d : rgba(255, 205, 49, 0.5);
$color-sub-theme : #d93f30;
$color-text : #222;
$color-text-d : rgba(255, 255, 255, 0.3);
$color-text-l : rgba(255, 255, 255, 0.5);
$color-text-ll : rgba(255, 255, 255, 0.8);
$color-border: #F8F8F8;
$color-gray: #E1E1E1;
$color-white: #fff;
$color-black: #000;
$color-green:  #4FDEC2;
$color-red: #ED1C24;
$color-orange: #FF8F00;
$color-blue: #549ae0;
$color-light-blue: #0190FF;
$color-dark-blue: #244E78;

$color-9: #999;
$color-c: #ccc;
$color-e: #eee;

//字体定义规范
$font-size-small-s : .10rem;
$font-size-small : .12rem;
$font-size-medium : .14rem;
$font-size-medium-x : .16rem;
$font-size-large : .18rem;
$font-size-large-x : .22rem;

//内间距
$pd:  .15rem;
$pd-lf: 0 .15rem;

//高度
$height-44: .44rem;